/* Header */

.wppool-qs-header{
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.1); 
}

.wppool-qs-logo img{
    height: 40px;
    width: 40px;
    border-radius: 5px;
    margin-right: 25px;
  }

.wppool-qs-header h1{
    font-size: 22px;
    color: #444;
    font-weight: 600;
    padding: 0px;
    line-height: 20px;
    display: flex;
    align-items: center;
}


/* Starts Tabs */
*{
    box-sizing: border-box;
}

.wppool-qs-tabs{
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.wppool-qs-tabs ul{
    display: block;
    min-width: 250px;
    background-color: #fff;
    padding: 30px 20px 30px 20px;
    margin: 0 30px 0 0;
    box-shadow: 0 8px 21px 0 rgba(0,0,0,.1);  
}

.wppool-qs-tabs ul li{
    list-style: none;
    width: 100%;
    border-style: dashed;
    border-width: 0 0 1px 0;
    border-color: #c3c3c3;
}
.wppool-qs-tabs ul li a{
    text-decoration: none;
    width: 100%;
    font-family: "Montserrat",Sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    text-align: left;
    color: #777;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
  
}

.wppool-qs-tabs ul li a:focus,
.wppool-qs-tabs ul li a:active{
    border: 0;
    box-shadow: none;
    outline: 0;
}

.wppool-qs-tabs .wppool-qs-tab-button li:hover,
.wppool-qs-tabs .wppool-qs-tab-button .active{
    border-color: #9B5C8F;
}

.wppool-qs-tabs .wppool-qs-tab-button li a:hover, 
.wppool-qs-tabs .wppool-qs-tab-button .active a{
    color: #9B5C8F;
}

.wppool-qs-tab-content{
    width: 100%;
    padding: 20px 50px;
    background: #fff;
    box-shadow: 0 8px 21px 0 rgba(0,0,0,.1);  
}

.wppool-qs-tab-content .tab-item{
    display: none;
}

.wppool-qs-tab-content .tab-item.active{
    display: block;
}

.wppool-tab-content{
    margin-top: 30px;
}

/* End Tabs */

/* Switch Design */
.wppool_qs_switch_checkbox {
    display: flex;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
  
.wppool_qs_switch_checkbox i {
    position: relative;
    display: inline-block;
    margin-right: 1rem;
    width: 50px;
    height: 25px;
    background-color: #d1d0d0;
    border-radius: 23px;
    vertical-align: text-bottom;
    transition: all 0.3s linear;
}
  
.wppool_qs_switch_checkbox i::before {
    content: "";
    position: absolute;
    left: 0;
    width: 42px;
    height: 22px;
    background-color: #d1d0d0;
    border-radius: 11px;
    transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
    transition: all 0.25s linear;
}
  
.wppool_qs_switch_checkbox i::after {
    content: "";
    position: absolute;
    left: 0;
    width: 21px;
    height: 21px;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    transform: translate3d(2px, 2px, 0);
    transition: all 0.2s ease-in-out;
}
  
.wppool_qs_switch_checkbox:active i::after {
    width: 28px;
    transform: translate3d(2px, 2px, 0);
}
  
.wppool_qs_switch_checkbox:active input:checked + i::after { 
    transform: translate3d(16px, 2px, 0); 
}
  
.wppool_qs_switch_checkbox input { 
    display: none; 
}
  
.wppool_qs_switch_checkbox input:checked + i { 
    background-color: #9B5C8F; 
    background-image: -webkit-linear-gradient(-169deg, #9B5C8F 0%, #9B5C8F 100%);
}
  
.wppool_qs_switch_checkbox input:checked + i::before {
    transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); 
}
  
.wppool_qs_switch_checkbox input:checked + i::after { 
    transform: translate3d(26px, 2px, 0); 
}
/* End Switch */

/* Accordion */
.wppool-add-shipping-title{
    margin-bottom: 20px;
}

.wppool-shipping-details input[type=text], 
.wppool-shipping-details input[type=number]{
    margin-top: 8px;
}

.wppool-add-shipping-accordion{
    padding: 20px;
    background-color: #e2e2e2;
}
.wppool-add-shipping-options{
    background: #fff;
    padding: 15px 15px 1px 15px;
}
.wppool-add-shipping-area{
    overflow: hidden;
    border: 1px solid rgb(169 169 169);
    background: #fff;
    margin-bottom: 15px;
}
.wppool-add-shipping-accordion-header{
    display: flex;
    justify-content: space-between;
    padding-left: 7px;
    font-size: 14px;
    cursor: pointer;
    align-items: center;
}
.wppool-add-shipping-accordion-header:hover{
    background: #99999926;
}
.wppool-add-shipping-accordion-delete-btn{
    width: 40px;
    height: 43px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgb(169 169 169);
}
.wppool-add-shipping-accordion-delete-btn:hover{
    background: #c1bfbf;
}
.wppool-add-shipping-accordion-content{
    overflow: hidden;
    padding: 20px;
}

.wppool-add-shipping-accordion-label p, .wppool-add-shipping-product-price p{
    margin: 0;
    padding: 0;
}

.wppool-add-new-shipping-button{
    text-align: center;
}
.wppool-add-new-shipping-button #wppool-add-shipping {
    display: inline-block;
    padding: 10px 30px;
    background: #fff;
    margin-top: 20px;
    margin-bottom: 0;
    border: 1px solid #444;
    border-radius: 30px;
    cursor: pointer;
}
.wppool-add-new-shipping-button #wppool-add-shipping:hover{
    background: #dfdfdf;
}
.kdactive{
    border-bottom: 1px solid rgb(169 169 169);
}

.portlet-placeholder {
    margin: 0 1em 1em 0;
    height: 80px;
  }
.wppool-add-shipping-accordion-title{
    display: flex;
    align-items: center;
}
.wppool-add-shipping-accordion-title img{
    width: 25px;
}
.wppool-add-shipping-accordion-title .sort,
.wppool-shipping-inner-options-title .sort{
    cursor: move;
    display: flex;
    align-items: center;
}
.wppool-add-shipping-accordion-title .sort::before,
.wppool-shipping-inner-options-title .sort::before {
    content: "\f333";
    font-family: Dashicons;
    text-align: center;
    line-height: 26px;
    color: #666;
    display: block;
    width: 20px;
    float: left;
    height: 100%;
    font-size: 20px;
}

/* Accordion Inner Tabs */
.wppool-shipping-inner-tabs{
    display: flex;
}

.wppool-qs-tabs .wppool-shipping-inner-tabs .wppool-qs-inner-tab-button{
    min-width: 180px;
    box-shadow: none;
    border-right: 1px solid #a7a7a7;
}

.wppool-qs-inner-tab-button li:hover,
.wppool-qs-inner-tab-button .inner-active{
    border-color: #9B5C8F;
}

.wppool-qs-inner-tab-button li a:hover, 
.wppool-qs-inner-tab-button .inner-active a{
    color: #9B5C8F;
}

.wppool-qs-inner-tab-content .tab-item {
    display: none;
}
.wppool-qs-inner-tab-content .tab-item.inner-active {
    display: block;
}

.wppool-qs-inner-tab-content{
    width: 100%;
    padding: 0;
}

/* Inner Accordion */
.wppool-shipping-inner-options-area{
    background: #fff;
    padding: 16px 15px 1px 15px;
}
.wppool-shipping-inner-options-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
}
.wppool-shipping-inner-options-header input[type=text]{
    margin-top: 0;
}
.wppool-shipping-inner-options-add, 
.wppool-shipping-inner-options-delete-btn{
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
}
.wppool-shipping-inner-options-add{
    background: #449be5;
    border-color: #3e8ed4;
}
.wppool-shipping-inner-options-delete-btn{
    background: #f44336;
    border-color: #c3352b;
}
.wppool-shipping-inner-options-title{
    border: 1px solid;
    border-color: #bebebe;
    border-radius: 5px;
    padding: 1px 4px;
}


